/************************************** TIPOGRAFIA **************************************/

@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

/************************************** GENERAL SECTION **************************************/

* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html {
    font-size: 16px;
    width: 400;
    color: #000000;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    text-align: center;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
    color: #232851;
}

h1 {
    font-size: 3.6rem;
    letter-spacing: -0.25rem;
    line-height: 4rem;
}

h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    color: #323851;
    letter-spacing: -0.25px;
}

li {
    list-style: none;
    margin: 3px 0;
}

p {
    font-weight: 500;
    line-height: 1.75rem;
}

@media (min-width: 481px) {
    h1,
    .fe-main h2,
    .fe-main-text p,
    .fe-about-text h2,
    .fe-about-text p {
        text-align: left;
    }
}

/************************************** SHARE SECTION **************************************/

.fe-container-flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fe-hide-small {
    display: none;
}

.fe-full-width {
    width: 100%;
}


@media (min-width: 481px) {
    .fe-hide-small {
        display: block;
    } 

    .fe-hide-big {
        display: none;
    }    
}

/************************************** FORM SECTION **************************************/

.fe-button {
    background-color: #8B48BF;
    border-radius: 50px;
    border-style: none;
    height: 45px;
    margin: 5px;
    padding: 10px 20px;
    min-width: 65px;
    cursor: pointer;

    color: #FFFFFF;
    line-height: 1.2rem;
    font-size: 0.85rem;
    font-weight: inherit;
}

.fe-button-reverse {
    background-color: #FFFFFF;
    color: #8B48BF;
}

.form-row {
    padding: 10px;
}

.fe-round-input {
    padding: 10px;
    height: 45px;
    margin: 5px;

    background: #FFFFFF;
    border-radius: 50px;
}

@media (min-width: 481px) {

}

/************************************** HEADER SECTION **************************************/

.fe-header {
    height: 80px;
    flex-direction: row;
    align-items: flex-end;
}

.fa-bars {
    font-size: 2rem;
    cursor: pointer;
}


@media (min-width: 481px) {
    .fe-header {
        height: 100px;
        justify-content: space-between;
        margin: 0 5%;
        align-items: center;
    }

    .fe-menu {
        width: 45%;
        flex-direction: row;
        font-size: 0.8rem;
    }
    
    .fe-menu ul {
        padding: 0;
        flex-direction: row;
        justify-content: space-around;
    }

    .fe-menu li {
        padding: 5px ;
    }
        
}

/************************************** MAIN SECTION **************************************/

.fe-main {
    margin: 0 5%;
}

.fe-dashboard {
    width: 380px;
    height: 260px;
    margin: 2rem 0;
}

@media (min-width: 481px) {
    .fe-main {
        flex-direction: row-reverse;
    }

    .fe-main div {
        width: 50%;
    }

    .fe-main-text {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .fe-main img{
        width: 580px;
        height: 525px;
    }
    
}

/************************************** ABOUT US SECTION **************************************/

.fe-about-us {

}

.fe-about-us h3{
    background: rgba(139, 72, 191, 0.3);
    border-radius: 50px 0px 0px 50px;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 43px;
}

.fe-pill {
    background: #8B48BF;
    border-radius: 30px;

    height: 43px;
    margin: 0 10px 0 0;
    padding: 10px 25px;
}

li p {
    text-align: left;
    padding: 5px 20px;
    color: #B3B2B7;

    line-height: 1.5rem;
    letter-spacing: -0.01rem;
}


@media (min-width: 481px) {
    .fe-about-us {
        flex-direction: row;
        margin: 0 5%; 
        align-items: flex-start;
    }

    .fe-about-text {
        width: 50%;
    }

    .fe-about-us ul {
        width: 50%;
    }

    .fe-about-us h3{
        background-color: transparent;
    }

    li p {
        padding: 0 90px ;
    }

}

/************************************** TESTIMONIALS SECTION **************************************/

.fe-testimonials {
    margin: 0 5%;
}

article.fe-container-flex{
    margin: 40px 0 10px;
    padding: 35px 5% 3%;
    position: relative;
    justify-content: flex-start;
    max-width: 445px;
    background-color: #FAFAFA;
    align-self: stretch;
}

article img {
    width: 70px;
    height: 70px;
    position: absolute;
    top: -35px;
}

@media (min-width: 481px) {
    .fe-testimonials {
        margin: 50px 5%;
    }

    .fe-people {
        flex-direction: row;
        justify-content: center;
        margin: 50px 0;
        
    }
}

/************************************** ACTION SECTION **************************************/

.fe-action {
    background-color: #8B48BF;
    padding: 5vw;
}

.fe-action h2{
    color: #FFFFFF;
}


@media (min-width: 481px) {
    .fe-action {
        height: 140px;
        flex-direction: row;
        justify-content: space-between;
    }

    .fe-action h2{
        text-align: left;
    }
}

/************************************** FOOTER SECTION **************************************/

.fe-footer {
    background-color: #1E1E26;
    color: #FFFFFF;
}

.fe-footer input{
    width: 60vw;
}

.fe-footer a {
    color: #FFFFFF;
    line-height: 1.5rem;
}

.fe-footer ul {
    min-width: 320px;
    height: 140px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-around;
    align-items: flex-start;
    padding: 0;
}

.fe-social {
    flex-direction: row;
    width: 80vw;
    justify-content: space-between;
    font-size: 1.25rem;
    margin: 20px 0;
}

.fe-footer-img {
    margin: 20px 0;
}

.fe-footer-bottom {
    font-weight: 500;
    color: #8C8C94;
    font-size: 0.8rem;
    padding: 20px 0 40px;
}

@media (min-width: 481px) {
    .fe-footer-top {
        flex-direction: row-reverse;
        align-items: flex-start;
    }

    .fe-brands {
        flex-direction: row-reverse;
    }

    .fe-social {
        width: auto;
        justify-content: space-between;
    }

    .fe-footer ul {
        width: auto;
    }

    .fe-footer input{
        width: auto;
    }

}

/************************************** **************************************/


@media (min-width: 481px) {

}
