/*************** General styles ***************/

*,
:after,
:before {
    border-style: none;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
    text-align: center;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.tex-left {
    text-align: left;
}


/*************** General distribution styles ***************/

.fe-full-width {
    width: 100%;
}

.fe-responsive-width-100-50 {
    width: 100%;
}

.fe-hide-mobile {
    display: none;
}

.fe-show-mobile {
    display: block;
}

.fe-column-absolute-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*borrar luego*/
    background-color: yellow;
}

.fe-column-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(41, 200, 23);
}

.fe-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fe-row-responsive {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid greenyellow;
}

@media (min-width: 680px) {
    .fe-responsive-width-100-50 {
        width: 50%;
    }

    .fe-hide-mobile {
        display: block;
    }

    .fe-show-mobile {
        display: none;
    }

    .fe-column-responsive {
        align-items: flex-start;
    
        background-color: rgb(41, 200, 23);
    }    

    .fe-column-responsive-vertical-center {
        justify-content: center;
    
        background-color: rgb(41, 200, 23);
    }    

    .fe-row-responsive {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

/*************** Commun styles ***************/

.fe-logo {
    height: 23.74px;
    width: 145.54px;
}

/*************** Buttons ***************/
.fe-round-button {
    background-color: #8B48BF;
    border-radius: 50px;
    height: 44px;
    padding: 10px;
    width: 134px;

    color: #FFFFFF;
    font-family: inherit;
    line-height: 1.1875rem;
    font-size: 0.8237875rem;
    font-weight: inherit;
}

.fe-round-button-reverse {
    background-color: #FFFFFF;
    color: #8B48BF;
}

/*************** Header ***************/
.fe-header {
    margin: 77.13px 36px 2px;

    /* eliminar luego */
    border: 2px solid blue;
}

.fe-header-nav {
    width: 55%;
}

.fe-header-nav-li {
    color: #242E52;
    font-size: 0.8125rem;
    line-height: 1.186875rem;
    margin: 5px;
}

@media (min-width: 680px) {
    .fe-header {
        height: 174px;
        margin: 0 5%;

        /* eliminar luego */
        border: 2px solid blue;
    }
}

/*************** Main ***************/

.fe-main {
    margin: 0 5%;

    /* eliminar luego */
    background-color: red;
}

.fe-main-image-wrap {
    width: 100%;
}

.fe-main-image {
    width: 385.24px;
    height: 263.39px;

    /* eliminar luego */
    background-color: blue;
}

@media (min-width: 680px) {

    .fe-main {
        flex-direction: row-reverse;
    }

    .fe-main-image-wrap {
        width: 50%;
    }

    .fe-main-image {
        width: 540px;
        height: 485.px;

        /* eliminar luego */
        background-color: green;    
    }
}

/*************** About Section ***************/

.fe-about-us {
    margin: 0 5%;
}

@media (min-width: 680px) {}

/*************** Action Section ***************/

.action {
    background-color: #8B48BF;
    color: #FFFFFF;
}


@media (min-width: 680px) {}

/*************** Footer ***************/

.footer {
    background-color: #1E1E26;
    color: #FFFFFF;
}

@media (min-width: 680px) {}