/*************** General styles ***************/

*,
:after,
:before {
    border-style: none;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    /* border: 1px solid red; */
}

body {
    color: #000000;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
    color: #232851;
}

h1 {
    font-size: 3.625rem;
    margin: 10px 0px 20px;
    letter-spacing: -0.25rem;
    line-height: 4.154375rem;
}

h2 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.99rem;
    letter-spacing: -0.08rem;
    margin:5px 0 40px;
}

h3 {
    font-size: 2.25rem;
    margin: 10px 0px;
    line-height: 2.57875rem;
    color: #323851;
    letter-spacing: -0.24px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/*************** General distribution styles ***************/

.fe-text-left {
    text-align: left;
}

.fe-full-width {
    width: 100%;
}

.fe-full-height {
    height: 100%;
}

.fe-responsive-width-100-50 {
    width: 100%;
}

.fe-hide-mobile {
    display: none;
}

.fe-show-mobile {
    display: block;
}

.fe-column-absolute-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fe-column-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.fe-column-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.fe-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fe-row-center-stretch {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fe-row-responsive {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fe-row-responsive-horizontal-center {
    align-items: center;
}

@media (min-width: 481px) {
    .fe-desk-text-left {
        text-align: left;
    }

    .fe-responsive-width-100-50 {
        width: 50%;
    }

    .fe-hide-mobile {
        display: block;
    }

    .fe-show-mobile {
        display: none;
    }

    .fe-column-responsive {
        align-items: flex-start;

    }

    .fe-column-responsive-vertical-center {
        justify-content: center;

    }

    .fe-row-responsive {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .fe-flex-row-direction-reverse-desktop {
        flex-direction: row-reverse;
    }

    .fe-flex-column-direction-reverse-desktop {
        flex-direction: column-reverse;
    }

}

/*************** Commun styles ***************/

.fe-logo {
    height: 23.74px;
    width: 145.54px;
}

/*************** Buttons ***************/
.fe-round-button {
    background-color: #8B48BF;
    border-radius: 50px;
    height: 44px;
    margin: 10px;
    padding: 10px;
    width: 134px;

    color: #FFFFFF;
    font-family: inherit;
    line-height: 1.1875rem;
    font-size: 0.8237875rem;
    font-weight: inherit;
}

.fe-round-button-reverse {
    background-color: #FFFFFF;
    color: #8B48BF;
}

.fe-round-input {
    padding: 10px;
    width: 308px;
    height: 44px;

    background: #FFFFFF;
    border-radius: 50px;
}

/*************** Header ***************/
.fe-header {
    margin: 40px 45px 2px;
}

.fe-header-nav {
    width: 55%;
}

.fe-header-nav-li {
    color: #242E52;
    font-size: 0.8125rem;
    line-height: 1.186875rem;
    margin: 5px;
}

.fa-bars {
    font-size: 2.578125rem;
}

@media (min-width: 481px) {
    .fe-header {
        height: 174px;
        margin: 0 5%;
    }
}

/*************** Main ***************/

.fe-main {
    margin: 20px;
}

.fe-main-p {
    font-size: 1.035rem;
    line-height: 1.625625rem;
    margin: 15px 45px;
}

.fe-main-image-wrap {
    width: 100%;
    padding: 0 0 200px;
}

.fe-main-image {
    width: 385.24px;
    height: 263.39px;
}

@media (min-width: 481px) {

    .fe-main {}

    .fe-main-image-wrap {
        width: 50%;
    }

    .fe-main-image {
        width: 540px;
        height: 485.px;
    }
}

/*************** About Section ***************/

.fe-about-us {
    margin-top: 120px;
}

.fe-about-us-p {
    line-height: 1.51125rem;
    margin: 36px 24px;
}

.fe-about-us-card-list {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    margin-top: 80px;
}

.fe-about-us-card {
    width: 446px;
    height: 13.125rem;
}

.fe-about-us-card-header {
    background: rgba(139, 72, 191, 0.3);
    border-radius: 50px 0px 0px 50px;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 43px;
}

.fe-about-us-card-pill {
    background: #8B48BF;
    border-radius: 30px;

    height: 43px;
    margin: 0 10px 0 0;
    padding: 10px 25px;
    width: 69px;
}

.fe-about-us-card-body {
    color: #B3B2B7;
    font-size: 1.01865rem;
    line-height: 1.595rem;
    letter-spacing: -0.01rem;
    padding: 30px 10px;

}

@media (min-width: 481px) {}

/*************** Testimonials Section ***************/

.fe-testimonials {}

.fe-testimonials-title {
    font-size: 2.450625rem;    
    line-height: 3.838125rem;
    letter-spacing: -0.1rem;
    margin: 85px 0 30px;
}

.fe-testimonial-card {
    height: 219px;
    width: 445px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 35px;

    margin: 80px 0 30px 0;
    background-color: #FAFAFA;
}

.fe-testimonial-card-photo {
    position: absolute;
    top: -35px; 
    width: 70px;
    height: 70px;
}

.fe-testimonial-card-title{
    line-height: 1.573125rem;
    letter-spacing: -0.01rem;
    color: #3F4868;
}

.fe-testimonial-card-body {
    /* margin: 21px 27px 5px 27px; */
    height: 70%;
    color: #B9B9C1;
    font-weight: 600;
    line-height: 1.56625rem;
    margin: 0 10px;
}

.fe-testimonial-card-hide-mobile {
    display: none;
}

@media (min-width: 481px) {
    .fe-testimonial-card-hide-mobile {
        display: block;
    }
}

/*************** Action Section ***************/

.fe-action {
    background-color: #8B48BF;
    padding: 40px 50px;
    margin: 40px 0 0 0;
}


@media (min-width: 481px) {}

/*************** Footer ***************/

.fe-footer {
    background-color: #1E1E26;
    color: #FFFFFF;
    height: 535px;
}

.fe-footer-main {
    height: 80%;
}

.fe-footer-form {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fe-footer-form-button {
    width: 63px;
    margin: 0 0 0 5px;
}

.fe-footer-links {
    width: 344px;
    height: 170px;
}

.fe-footer-links-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px 0 0 20px;

    height: 100%;
    width: 50%;

}

.fe-footer-link,
.fe-footer-link:visited {
    display: block;
    font-weight: 400;
    line-height: 1.46125rem;
    color: #FFFFFF;    
    height: 2rem;
}


.fe-footer-brands {
    height: 100px;
    width: 100%;
    padding: 0 50px;
}

.fa-brands {
    font-size: 1.25rem;
}

.fe-footer-social-networks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.fe-footer-bottom {
    height: 20%;
    color: #8C8C94;
    font-size: 0.78125rem;
    line-height: 1.14125rem;
}

@media (min-width: 481px) {}